{% extends "base_generic.html" %}

{% block title %}
  <title>Tìm nhà trọ | Cho thuê nhà trọ</title>
{% endblock %}

{% block content %}
<p>
  Ut diam quam nulla porttitor massa id neque aliquam vestibulum. Vestibulum lectus mauris ultrices eros in. Luctus accumsan tortor posuere ac ut consequat. Imperdiet massa tincidunt nunc pulvinar sapien et. Nibh tellus molestie nunc non blandit massa enim nec dui. Aliquam id diam maecenas ultricies mi. Velit dignissim sodales ut eu. Amet dictum sit amet justo donec enim diam. Elit pellentesque habitant morbi tristique senectus et netus et. Tortor dignissim convallis aenean et tortor at risus viverra. Fermentum leo vel orci porta non pulvinar neque laoreet.
</p>
{% endblock %}
